%h1{:style => "font-family:Reenie Beanie,arial,serif;color:teal;font-size:80px"}= "Goochie Pooch & Cats Too"
&reg;
%br
%div{:style => "text-align:center"}
  = "Visitors: "
  %img{:border => "0", :src => "http://www.webcounter.com/4de51ca42d0c5/counter.png"}


