%select#lang-selector{:name => "lang"}
  %option{:value => "en"} English
  %option{:value => "ru"} Russian

-#.section
-#  %h2 We are hiring!!!
-#  %p
-#    We are looking for full-time pet bather or part time pet groomer
-#  %p Call us: (732) 432-9191
-#  %p or
-#  %a{:href => "mailto:inna_shvets@yahoo.com"}= "email us"

= partial "coupon"

%p{:align => 'center'}
  %a{:href => "coupon.html" }='Print Coupon'
