#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration 'compass_config.rb'

sass_options = Compass.sass_engine_options
haml_options = { :format => :html5 }

# compile rules

compile '/layouts/*/' do
  # don’t filter static files
end

compile '/static/*/' do
  # don’t filter static files
end

compile '/images/*/' do
  # don’t filter images
end

compile '/imageflow/*/' do
  p ""
  # don’t filter images
end

compile '/stylesheet/*' do
  # don’t filter or layout
end

compile '/assets/style/_*/' do
  # Don’t compile assets partials
end

compile '/assets/style/*/' do
  filter :sass, sass_options
  filter :relativize_paths, :type => :css
end

compile '/assets/coffee/*/' do
  filter :coffee
end

compile '/assets/javascript/*/' do
end

compile '*' do
  if item[:extension] == 'haml'
    filter :haml, haml_options
    layout 'default'
  end
end

compile '/photos/*/' do
  filter :haml
  layout 'default'

  item.identifier + 'index.html'
end

# routes

route '/imageflow/*' do
  if item[:extension] == 'css'
    "/stylesheets/#{File.basename(item[:filename])}"
  elsif item[:extension] == 'js'
    "/javascripts/#{File.basename(item[:filename])}"
  elsif item[:extension] == 'png'
    "/" + item[:filename].sub('content/', '')
  end
end

route '/images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

route '/assets/style/*/' do
  item.identifier.chop + '.css' # so that the /assets/style/screen/ item is compiled to /assets/style/screen.css
end

route '/assets/coffee/*/' do
  #item.identifier.chop + '.js' # so that the /assets/style/screen/ item is compiled to /assets/style/screen.css
  "/javascripts/#{File.basename(item[:filename])}".sub('coffee', 'js')
end

route '/assets/javascript/*/' do
  #item.identifier.chop + '.js'
  "/javascripts/#{File.basename(item[:filename])}"
end

route '*' do
  item.identifier + 'index.html'
end


# layouts

layout '/default/', :haml, :format => :html5, :ugly => true

layout '*', :haml, haml_options

