#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration 'compass_config.rb'

sass_options = Compass.sass_engine_options
haml_options = { :format => :html5 }

#compile '/stylesheet/' do
#  # don’t filter or layout
#end
#compile '/assets/style/*/' do
#  filter :sass
#end

compile '/assets/style/_*/' do
  # Don’t compile partials
end

compile '/assets/style/*/' do
  filter :sass, Compass.sass_engine_options
  filter :relativize_paths, :type => :css
  #filter :rainpress
end

compile '/static/*' do
end

compile '/javascripts/*/' do
  case item[:extension]
    when 'coffee'
      filter :coffee
    when 'js'
      # Nothing
  end
end

compile '/*' do
  filter :haml
  layout 'default'
end

compile '/photos/*/' do
  filter :haml
  layout 'default'

  item.identifier + 'index.html'
end

# Compile both coffee and js, co-mingled in the same directory
#compile '/js/*' do
#  case item[:extension]
#    when 'coffee'
#      filter :coffee
#    when 'js'
#      # Nothing
#  end
#end

#compile '/*' do
#  filter :haml
#  layout 'default'
#end

route '/assets/style/*/' do
  item.identifier.chop + '.css' # so that the /assets/style/screen/ item is compiled to /assets/style/screen.css
end

route '/javascripts/*/' do
  item.identifier.chop + '.js'
end

route '*' do
  item.identifier + 'index.html'
end

### Layouting ################################################################

layout '/default/', :haml, :format => :html5, :ugly => true

layout '*', :haml, haml_options

