- menu = "contacts"

%h1 Contact Information
%p Address:
%blockquote
  %p
    Goochie Pooch & Cats Too
    %br/
    737 State Route 18
    %br/
    East Brunswick, NJ 08816
    %br/
    U.S.A.
%p
  Tel: 732-432-9191
  %br/
  %p
    Email:
    %b
      %a{:href => "mailto:goochie.pooch@gmail.com"} goochie . pooch @ gmail . com
