- title = "My New Home Page"
- author = "Alexander Shvets"
- menu = "home"

%h1 Welcome
%p
  You can provide feedback for this website. Just send us
  %a{:href => "mailto:goochie.pooch@gmail.com"} email
%h1 Contact Info
%p Address:
%blockquote
  %p
    Goochie Pooch & Cats Too
    %br/
    737 State Route 18
    %br/
    East Brunswick, NJ 08816
    %br/
    U.S.A.
%p
  Tel: 732-432-9191
  %br/



