- title = "My New Home Page"
- author = "Alexander Shvets"
- menu = "home"

%h1{:style => "color:#B32D15;font-size:52px"} Welcome to our home page!

%h1 Our Address:

%blockquote
  %p#address
    Goochie Pooch & Cats Too
    %br/
    737 State Route 18
    %br/
    East Brunswick, NJ 08816
    %br/
    U.S.A.

- link1 = "http://maps.google.com/maps?f=q&amp;source=s_q&amp;gl=us&amp;g=1011+Highway+70,+Brielle,+NJ+08730-1149&amp;q=grooming+salon+goochie+pooch&amp;ie=UTF8&amp;ll=40.428122,-74.383203&amp;spn=0.006811,0.018969&amp;z=14&amp;iwloc=A&amp;cid=4584045155681571376&amp;output=embed"
- link2 = "http://maps.google.com/maps?f=q&amp;source=embed&amp;gl=us&amp;g=1011+Highway+70,+Brielle,+NJ+08730-1149&amp;q=grooming+salon+goochie+pooch&amp;ie=UTF8&amp;ll=40.428122,-74.383203&amp;spn=0.006811,0.018969&amp;z=14&amp;iwloc=A&amp;cid=4584045155681571376"

%table
  %tr
    %td
      %img{:src => "/images/building.jpg", :style => "width:100%; height:80%"}
    %td
      %iframe{:width => "300", :height => "370", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "#{link1}"}
      %br
      %small
        %a{:href => "#{link2}", :style => "color:#0000FF;text-align:left"}View Larger Map

%p#plain_text We are located on Route 18 South in between Racetrack Rd. and Ryders line, 500 sq. feet from East Brunswick Square Mall.

%p#plain_text Please feel free to call us any time at 
%h1{:style => "font-family:Reenie Beanie,arial;color:teal;font-size:80px"}= "732-432-9191"
%p#plain_text for Grooming Prices and scheduling an appointment.

