- menu = "photos"

%h1 Photos
#photos_gallery.imageflow
  %img{:alt => "Text_1", :height => "h_1", :longdesc => "URL_1", :src => "dir/image_1.jpg", :width => "w_1"}/
  %img{:alt => "Text_2", :height => "h_2", :longdesc => "URL_2", :src => "dir/image_2.jpg", :width => "w_2"}/
  %img{:alt => "Text_3", :height => "h_3", :longdesc => "URL_3", :src => "dir/image_3.jpg", :width => "w_3"}/

