%ul
  %li{menu_style('home')}
    %a{:href => "/"} home
  %li{menu_style('faq')}
    %a{:href => "/faq/index.html"} faq
  %li{menu_style('photos')}
    %a{:href => "/photos/index.html"} photos
  %li{menu_style('links')}
    %a{:href => "/links/index.html"} links
  %li{menu_style('directions')}
    %a{:href => "/directions/index.html"} directions
  %li{menu_style('contacts')}
    %a{:href => "/contacts/index.html"} contacts
    
