.section.coupon
  #h2 <b>Goochie Pooch and Cats Too</b>

  %p Call us for appointment at
  %p (732) 432-9191
  %p and get
  %p{:style => 'font: bold 24px Helvetica'} $3 OFF

  %p
    your first grooming
  %img{:src => 'assets/images/128_dog1.png'}

